body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color:#f7f7f7;
}
header {
    background-color:#aa1961;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
    color:#ffffff;
}
section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}
h2 {
    color: #aa1961;
}
ul {
    padding-left: 20px;
}
footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #777;
}

img{
    justify-content: left;
    padding: 20px;
    width: 250px;
}

.conteudo-centralizado {
  margin-top: 20vh;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #aa1961; 
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #fff    !important; 
}

.navbar .nav-link:hover {
  color: #f8f9fa !important; 
}

 .conteudo-centralizado {
  margin-top: 20vh;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #aa1961; 
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #fff    !important; 
}

.navbar .nav-link:hover {
  color: #f8f9fa !important; 
}

h1 {
    filter: grayscale(100%);
}

 